<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LogUploader.LogDBConnectionString" connectionString="Data Source=Data\LogDB.db;Version=3;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="LogUploader.Properties.Settings.LogInfoDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase\LogInfoDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <LogUploader.Properties.Settings>
            <setting name="EncounterName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EncounterSuccsess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmptyLineBetween" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ArcLogsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="UseGnDiscordEmotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordWebHookLink" serializeAs="String">
                <value />
            </setting>
            <setting name="WebHookDB" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordPostFormat" serializeAs="String">
                <value>PerArea</value>
            </setting>
            <setting name="AutoUpdateEI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentWebHook" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EiCreateCombatReplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EiUseLightTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyPostUploaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameAsDiscordUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAutoUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoParse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhatsNewShown" serializeAs="String">
                <value>v0.0.0</value>
            </setting>
        </LogUploader.Properties.Settings>
    </userSettings>
</configuration>
